body { 
  background: #сс00сс;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
 
}

a {
  width: 400px;
  height: 700px;
}

P {
  color: #cc00cc;
  font-family:      Georgia, "Times New Roman", Times, serif;
}